<IfModule mod_rewrite.c>
DirectoryIndex home.php

RewriteEngine On
RewriteRule ^([^/]*)\.html$ /madhavatripnusapenida/paket?paket-link=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
RewriteRule "^(\S*)\s+(\S*)$" /$1-$2 [L,NE,R=302]
RewriteRule "^(\S*)\s+(\S*\s+.*)$" $1-$2 [L]
RewriteRule ^(.*)-{2,}(.*)$ /$1-$2 [L,R=302]
AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi  
Options -ExecCGI
</IfModule>
